body {
    font-size: 14px;
    font-family: "PT Sans Narrow";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.714;
    text-align: left;
}
h1 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.4;
    text-align: left;
}
h2 {
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.25;
}